@font-face {
  font-family: Arizonia-Regular;
  src: url(../fonts/Arizonia-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --board-theme: blanchedalmond;
  --black-theme: #222;
  --shadow-theme: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 8rem;
}

.title,
.sub-title {
  font-family: Arizonia-Regular, Roboto, Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 6rem;
  font-size: 4.4rem;
}

.photo {
  width: 40rem;
  aspect-ratio: 5 / 3;
  object-fit: cover;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
}

.sub-title {
  margin: 6.4rem 0 3.2rem;
  font-size: 3.6rem;
}

.description-para {
  width: 44rem;
  padding: 2rem;
  font-size: 2.2rem;
  line-height: 1.4;
  color: var(--black-theme);
  background-color: var(--board-theme);
  border-radius: 1.2rem;
}

.ingredients-items,
.steps-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 44rem;
  padding: 2rem 2rem 2rem 4rem;
  background-color: var(--board-theme);
  border-radius: 1.2rem;
}

.ingredients-items {
  gap: 1.6rem;
}

.steps-items {
  gap: 3.2rem;
}

.ingredients-items li,
.steps-items li {
  font-size: 2.2rem;
  color: var(--black-theme);
}

.steps-items li {
  letter-spacing: 0.04rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0 6rem;
}

.footer a {
  font-weight: 600;
  font-size: 3.6rem;
  font-family: Arizonia-Regular, Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.footer a:hover {
  color: var(--black-theme);
}
/* For smartphones in portrait mode */
@media screen and (orientation: portrait) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 22.5em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: portrait) and (min-width: 23.4em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.3em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 25.75em) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 26.75em) {
  html {
    font-size: 8.75px;
  }
}
/* For tablets in portrait mode */
@media screen and (orientation: portrait) and (min-width: 48em) {
  html {
    font-size: 10px;
  }

  .photo {
    width: 48rem;
  }

  .description-para,
  .ingredients-items,
  .steps-items {
    width: 64rem;
  }
}
/* For smartphones in landscape mode */
@media screen and (orientation: landscape) {
  html {
    font-size: 6.5px;
  }

  body {
    background-color: var(--black-theme);
  }

  .main,
  .footer {
    width: 72rem;
  }

  .photo {
    width: 48rem;
  }

  .description-para,
  .ingredients-items,
  .steps-items {
    width: 64rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 41.6em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: landscape) and (min-width: 50em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: landscape) and (min-width: 52.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 55.75em) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 58em) {
  html {
    font-size: 8.75px;
  }
}
/* For tablets in landscape mode, laptops and desktops */
@media screen and (orientation: landscape) and (min-width: 64em) {
  html {
    font-size: 10px;
  }
}
