* {
  font-family: Georgia, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:beige;
}

h1 {
  font-size: 40px;
  color:tomato;
  max-width: 400px;
  margin: 20px auto 40px;
  text-align: center;
}

li {
  list-style-type: none;
  max-width: 200px;
  margin: 12px auto;
  text-align: center;
}

a {
  font-size: 18px;
  color: black;
}

