:root {
  --main-theme: #ffc73b;
  --sub-theme: #b91e1e;
}

.main {
  background-color:var(--main-theme);
}

.title,
.sub-title {
  color: var(--sub-theme);
}

.description-para {
  border: 0.4rem dashed var(--sub-theme);
}

.ingredients-items,
.steps-items {
  border: 0.4rem dashed var(--sub-theme);
}

.footer {
  background-color:var(--main-theme);
}

.footer a {
  color: var(--sub-theme);
}
