:root {
  --main-theme: #ffff92;
  --sub-theme: #007d00;
}

.main {
  background-color:var(--main-theme);
}

.title,
.sub-title {
  color: var(--sub-theme);
}

.description-para {
  border: 0.4rem dashed var(--sub-theme);
}

.ingredients-items,
.steps-items {
  border: 0.4rem dashed var(--sub-theme);
}

.home-link {
  color: var(--sub-theme);
}
